<template>
    <div class="conversor">
        <h2>{{currencyA}} To {{currencyB}}</h2>
        <input type="text" v-model="currencyA_value" :placeholder="currencyA">
        <input type="button" value="Convert" v-on:click="convert">
        <h2 class="text-center">{{currencyB_value}}</h2>
        <input type="button" value="Clear" v-on:click="clear">
    </div>
</template>

<script>
export default {
    name:"Conversor",
    props: ["currencyA", "currencyB"],
    data(){
        return{
            currencyA_value : "",
            currencyB_value : 0
        };
    },
    methods:{
        convert(){

            let from_to = this.currencyA + "_" + this.currencyB;

            let url = "https://free.currconv.com/api/v7/convert?q="+
            from_to
            +"&compact=ultra&apiKey=6d9414a9e12d66472ddf";

            fetch(url).then(res=>{
                return res.json();
            })
            .then(json=>{
                let quotation = json[from_to];
                this.currencyB_value = (quotation * parseFloat(this.currencyA_value)).toFixed(2);
                        
            });
        },

        clear(){
            this.currencyA_value = "";
            this.currencyB_value = 0;
        }
    }
};
</script>

<style scoped>
.conversor{
    padding: 20px;
    max-width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}
.text-center{
    text-align: center;
}
</style>
