<template>
  <div id="apps">
    <h1 class="text-center">Currency Converter</h1>
    <div class="line">
      <Conversor currencyA="USD" currencyB="BRL"/>
      <Conversor currencyA="BRL" currencyB="USD"/>
    </div>
    <div class="line">
      <Conversor currencyA="CAD" currencyB="BRL"/>
      <Conversor currencyA="BRL" currencyB="CAD"/>
    </div>
    <div class="line">
      <Conversor currencyA="EUR" currencyB="BRL"/>
      <Conversor currencyA="BRL" currencyB="EUR"/>
    </div>
  </div>
</template>

<script>
import Conversor from "./components/Conversor.vue";
export default {
  name: 'appfs',
  components: {
    Conversor
  }
}
</script>

<style>
#apps {
  margin: auto;
  max-width: 899px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
.line{
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}

.text-center{
  text-align: center;
}
</style>
